/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Task module that you ALSO want globally
 * available should live here.
 */

@import "./admin/taskAdminStyles";

.task-comments {
    margin-bottom: 12px;

    .user {
        font-weight: 700;
    }

    .date {
        font-size: 0.75rem;
    }
}