/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Flow module that you ALSO want globally
 * available should live here.
 */

@import "./admin/flowAdminStyles";

.flow-item-header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  h1 {
    margin: 0;
  }

  a {
    height: fit-content;
  }
}

#flow-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  .flow-item {
    border: 2px solid #CCC;
    padding: 8px;

    color: #000;

    a {
      color: black;
      font-weight: 800;
      padding-bottom: 8px;
    }

    .flow-item-tasks {
      border-top: 2px solid #CCC;
      padding-top: 8px;

      .input-group {
        margin-bottom: 8px;

        label {
          font-weight: 400;
        }
      }
    }

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}
