/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Flow module that you ALSO want globally
 * available should live here.
 */

@import "./admin/flowAdminStyles";

.flow-item-header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  h1 {
    margin: 0;
  }

  a {
    height: fit-content;
  }
}

.flow-list, .task-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  .flow-item {
    border: 2px solid #CCC;
    min-width: 200px;
    max-width: 200px;
    padding: 8px;

    color: #000;

    .flow-item-tasks {
      border-top: 2px solid #CCC;
    }

    a {
      color: black;
      font-weight: 800;
      padding-bottom: 8px;
    }

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  .flow-item-tasks {
    padding-top: 8px;

    .input-group {
      margin-bottom: 8px;

      label {
        font-weight: 400;
        word-break: break-all;
      }
    }

    p, a {
      margin-left: 22px;
    }

    p {
      font-size: 0.75rem;
    }
  }

  .flow-item-tasks.completed {
    label {
      text-decoration: line-through;
      text-decoration-color: red;
    }
  }
}

.task-list {
  flex-direction: column;

  margin-bottom: 32px;
}
